.page
    flex: 0 0 100%
    transition: all 400ms ease-in-out

.overlay
    background-color: rgba(0, 0, 0, 0.1)
    height: 100%
    left: 0px
    position: absolute
    top: 0px
    transition: all 400ms ease-in-out
    width: 100%
    z-index: 2

    &.active
        transform: translateX(0%) translateY(0%)

.overlay-home
    text-align: center
    transform: translateX(-100%)

    &.active
        & ~ .page
            transform: translateX(100%)

.overlay-filters
    transform: translateY(-100%)

.overlay-slot
    transform: translateX(100%)

    &.active
        & ~ .page
            transform: translateX(-100%)