/* MIXINS */

box-sizing()
    box-sizing: arguments
    -moz-box-sizing: arguments

transform()
    transform: arguments
    -webkit-transform: arguments

center-border(angle, color, a, b)
    linear-gradient(
        angle,
        transparent,
        transparent a,
        color a,
        color b,
        transparent b,
        transparent
    )

/* VARIABLES */

$color-ichi = rgb(244, 247, 248)
$color-ni = rgb(233, 238, 241)

$color-icon = rgb(77, 78, 83)
$color-text = rgb(77, 78, 83)

$color-border = rgb(205, 205, 205)
$color-header = $color-ni
$color-pane = rgb(255, 255, 255)

$color-scarce = #c0ffc0
$color-rare = rgb(89, 144, 255)
$color-relic = #b38cff

/* GENERIC ELEMENTS */

*
    box-sizing: border-box

html
    align-items: stretch
    display: flex
    font-size: 10px
    height: 100%
    overflow: hidden
    width: 100%

body
    align-items: stretch
    display: flex
    flex: 0 0 100%
    font-family: lato
    font-size: 1.6rem
    font-weight: 300
    line-height: 1
    margin: 0px
    overflow: hidden

header
    align-items: center
    background-color: $color-header
    color: $color-text
    display: flex
    height: 40px
    left: 0px
    overflow: hidden
    padding: 0px 1.5rem
    position: fixed
    top: 0px
    width: 100%

.home-link
    cursor: pointer
    font-size: 1.3rem
    text-transform: uppercase

/* FRAMEWORK ELEMENTS */

.viewport
    align-items: stretch
    display: flex
    flex: 0 0 100%
    overflow: hidden

article
    align-items: stretch
    border-top: 4rem solid transparent
    display: flex
    flex: 0 0 100%
    position: relative
    transition: all 0.4s ease-in-out

    &.active-pane-gear
        transform: translateX(-100%)

    &.active-pane-slot
        transform: translateX(-150%)

.pane
    background-color: $color-pane
    color: $color-text
    flex: 0 0 50%
    overflow-y: auto
    padding: 1rem

/* HOME PANE */

.pane-home
    align-items: center
    display: flex
    flex: 0 0 100%
    justify-content: center

    .jobs
        display: flex
        flex-wrap: wrap
        padding: 2rem
        position: relative
        width: 40rem

.job
    align-content: center
    align-items: center
    background-color: $color-ni
    border-radius: 0.3rem
    cursor: pointer
    display: flex
    flex-wrap: wrap
    height: 6.8rem
    justify-content: center
    margin: 1.8rem 0px
    padding: 0px 3rem
    position: relative
    text-align: center
    width: 12rem

    .job-inner
        font-size: 1.5rem
        font-weight: 400
        height: 5rem
        line-height: 2rem
        padding-top: 3rem
        position: relative
        text-transform: uppercase
        width: 6rem
        z-index: 1

    &::before,
    &::after
        background-color: $color-ni
        border-radius: 0.3rem
        box-sizing: border-box
        content: ""
        display: block
        left: 0px
        height: 6.8rem
        overflow: hidden
        position: absolute
        top: 0px
        transform: rotate(120deg)
        width: 12rem

    &::after
        transform: rotate(-120deg)

    .before,
    .after
        display: none

        .image
            background-attachment: scroll
            background-position: 50% 50%
            background-repeat: no-repeat
            background-size: 192px 192px
            height: 14rem
            transform: rotate(-120deg) translateX(3.6rem) translateY(0.9rem)
            width: 14rem

    .after
        transform: rotate(-120deg)

        .image
            transform: rotate(120deg) translateX(-2.6rem) translateY(2.7rem)

    &:nth-of-type(8n-7)
        margin-left: 12rem
        margin-right: 12rem

    &:nth-of-type(5n-3)
        margin-left: 6rem

    &:nth-of-type(5n-2)
        margin-right: 6rem

@import 'icons'

/* STAT PANE */

.stat
    background-color: $color-ichi
    border-bottom: 1px solid rgb(255, 255, 255)
    display: flex
    margin: 0px

    &.stat-header
        .stat-label,
        .stat-value
            background-color: $color-ni
            font-weight: 400
            text-transform: none

.stat-label
    flex: 0 0 40%
    padding: 1.6rem
    text-transform: capitalize

.stat-value
    flex: 1 1 50%
    margin: 0px
    padding: 1.6rem
    text-align: center

/* GEAR PANE */

.slot
    align-items: center
    border: 1px dashed $color-border
    display: flex
    margin-bottom: 1rem
    min-height: 5rem
    padding: 0px 1rem

    span
        display: none

    .slot-name
        display: block
        text-transform: capitalize

    .slot-item-name
        flex: 1 0 auto
        margin-right: 1rem

    .slot-item-stats
        border-right: 1px solid rgba($color-text, 0.5)
        font-size: 1.3rem
        line-height: 1.6rem
        text-transform: uppercase

        span
            letter-spacing: 0.1rem
            margin-right: 1rem

    .slot-item-ilvl
        font-size: 1.3rem
        line-height: 1.6rem
        margin-left: 1rem
        text-transform: uppercase

    .slot-item-image
        background-image: linear-gradient(135deg, rgb(220, 220, 220), rgb(190, 190, 190))
        border: 1px dashed $color-border
        border-radius: 0.3rem
        display: none
        height: 4rem
        margin-left: 1rem
        overflow: hidden
        padding-left: 4rem
        width: 4rem

    &.slot-filled
        background-color: $color-ichi
        border-style: solid

        span
            display: block

        .slot-name
            display: none

        .slot-item-stats
            display: flex

    &.slot-common
        border-color: $color-border

    &.slot-scarce
        background-image: linear-gradient(rgba($color-scarce, 0.15), rgba($color-scarce, 0.25))
        border-color: $color-scarce

    &.slot-rare
        background-image: linear-gradient(rgba($color-rare, 0.15), rgba($color-rare, 0.25))
        border-color: $color-rare

    &.slot-relic
        background-image: linear-gradient(rgba($color-relic, 0.15), rgba($color-relic, 0.25))
        border-color: $color-relic
